*~
generation/generate32
generation/generated/
sortalgo/cpp/quicksort_stupid
sortalgo/cpp/stl_sort
sortalgo/cpp/stl_sortO0
sortalgo/cpp/stl_sortO1
sortalgo/cpp/stl_sortO2
sortalgo/cpp/stl_sortO3
sortalgo/cpp/stupid_quicksortO0
sortalgo/cpp/stupid_quicksortO1
sortalgo/cpp/stupid_quicksortO2
sortalgo/cpp/stupid_quicksortO3
sortalgo/d/bug.in
sortalgo/d/sortgdcO0
sortalgo/d/sortgdcO1
sortalgo/d/sortgdcO2
sortalgo/d/sortgdcO3